@import "tailwindcss";
@source "../../templates";

.jetbrains-mono-normal {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.hero-gradient {
	background: linear-gradient(215deg, #90CAF9 1%, #2C74FF 44%);
}