<!doctype html>
<html>
	<head>
		<title>Item Details</title>
		<link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/date-fns@4.1.0/cdn.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
	</head>
	<body>
		<header class="flex justify-between border-2 border-black py-2 px-2">
			<h1 class="">Commodity Tracker</h1>
			<ul class="flex gap-x-2">
				<li class="">
					<a href="{{ url_for('get_commodity_data', commodity='gold') }}">Futures</a>
				</li>
				<li class="">
					<a href="{{ url_for('about') }}">About</a>
				</li>
			</ul>
		</header>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>